$font-stack: 'Quicksand', sans-serif;
$crocodile-green: #07543A;
$secondary-green: #0B6E4F;
$light-green: #428061;
$primary-black: #161925;
$secondary-black: #050505;
$primary-white: #FEFFFE;
$secondary-white: #f7f7f7ee;
$third-white: #d3d3d3;
$primary-grey: #d3d3d3;


$box-shadow-default: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
$box-shadow-hover: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);

$transition-fast: all 200ms ease-in-out;
$transition-slow: all 500ms ease-in-out;

@mixin flex-col() {
    display: flex;
    flex-direction: column;
}

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style {
    @include flex-center;
    padding: 0.8em 1.2em;
    background-color: $crocodile-green;
    font-weight: bold;
    color: $primary-white;
    border: none;
    border-radius: 0.7em;
    cursor: pointer;
    transition: $transition-fast;
    box-shadow: $box-shadow-default;
}

@mixin button-hover {
    transform: scale(1.1);
    background-color: $secondary-green;
    box-shadow: $box-shadow-hover;
}

@mixin arrow-button-style {
    @include button-style;
    gap: 0.5em;

    .arrow {
        width: 0;
        height: 0;
        display: inline-block;

        &.right {
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-left: 0.6em solid $primary-white;
        }
        &.left {
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-right: 0.6em solid $primary-white;
        }
    }
}

@mixin product-card-style($w: 90%, $max-w: 18em, $min-w: 15em) {
    width: $w;
    max-width: $max-w;
    min-width: $min-w;
    @include flex-col;
    gap: 1em;
    padding: 1em;
    background-color: $secondary-white;
    border: 1px solid $primary-grey;
    border-radius: 0.6em;
    box-shadow: $box-shadow-default;
}

@mixin playing-card-style() {
    display: flex;
    align-items: flex-start;
    gap: 3em;
    padding: 1em;

    img {
        width: 5em;
        height: auto;
        box-shadow: $box-shadow-default;
        transition: all 0.3s ease-in-out;
        
        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }
}

@mixin croc-ul($croc-color: "green") {
    margin-bottom: 1em;
    list-style-type: none;

    li {
        position: relative;
        padding: 0.8em 0 0 4em;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-30%);
            width: 2.6em;
            height: 1.2em;
            background-image: url("https://cdn.jsdelivr.net/gh/maxkatilius/crocodile/frontend/src/assets/images/logos/croc-head-#{$croc-color}.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.loading {
    width: 2em;
    height: 2em;
    margin: auto;
    border: 0.2em solid $primary-grey;
    border-top: 0.2em solid $crocodile-green;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }
}

body {
    font-family: $font-stack;
    background-color: $primary-white;
    color: $primary-black;
    display: flex;
    justify-content: center;
}

/***************
** Typography **
***************/
h1, 
h2, 
h4 {
    color: $crocodile-green;
}

h2 {
    font-size: 1.65rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    margin: 0.5em 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/**************
***  Layout ***
***************/
.site-container {
    min-height: 100dvh;
    min-width: 100dvw;
    @include flex-col;
    justify-content: space-between;
}

/* Header */
header {
    position: fixed;
    z-index: 99;
    height: 6.4em;
    width: 100%;
    border-bottom: 1px solid $secondary-white;
    background-color: $primary-white;

    .header-container{
        display: flex;
        position: relative;
        width: 100%;
        justify-content: start;
        padding: 0.8em 1.5em 1.2em 1.5em;
        box-shadow: $box-shadow-default;
        
        .header-logo {
            cursor: pointer;
            
            img {
                max-width: 8em;
            }
            
            h1 {
                font-size: 1.1rem;
                letter-spacing: 0.25rem;
                line-height: 1.3em;
                border-top: 2px solid $crocodile-green;
                border-bottom: 2px solid $crocodile-green;
            }
        }
    }

    @media only screen and (min-width: 736px) {
        .header-container {
            background-image: linear-gradient($secondary-green, $crocodile-green);
            justify-content: space-between;

            .header-logo {
                h1 {
                    color: $primary-white;
                    border-top: 2px solid $primary-white;
                    border-bottom: 2px solid $primary-white;
                }
            }
        }
    }
    @media only screen and (min-width: 1536px) {
        .header-container {
            padding: 0.6em 2.5em 1.2em 2.5em;

            .header-logo {
                img {
                    max-width: 9.5em;
                }
                h1 {
                    font-size: 1.4rem;
                }
            }

            .desktop-nav {
                font-size: 1.3rem;
                gap: 1.5em;
                span {
                    height: 3px;
                }
                a {
                    .desktop-nav-cart-img-container {
                        .cart-count {
                            font-size: 1.15rem;
                            bottom: 1.05em;
                            right: 0.12em;
                        }
                    }
                }
            }
        }
    }
}

/* Mobile Nav */
.mobile-nav {
    position: absolute;
    bottom: 0.35em;
    right: 2em;
    left: auto;
    transition: right 550ms ease-out 100ms;
    
    a {
        .mobile-nav-cart-img-container {
            position: absolute;
            width: 1.2em;
            height: 1.2em;
            right: 0.7em;
            bottom: 3.5em;
            transition: opacity 300ms ease-in 600ms;

            img {
                width: 100%;
                height: auto;
            }

            .cart-count {
                position: absolute;
                @include flex-center;
                width: 1.4em;
                height: 1.4em;
                bottom: 0.7em;
                right: -0.02em;
                font-size: 0.8rem;
                font-weight: bold;
                color: $crocodile-green;
            }

            .underline {
                bottom: -0.18em;
            }
        }
    }

    .hamburger-container {
        z-index: 101;
        position: relative;
        @include flex-center;
        height: 3.8em;
        width: 2.4em;
        cursor: pointer;
        transition: all 400ms ease-in-out;
    
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            height: 0.18em;
            background-color: $crocodile-green;
            border-radius: 1.5em;
        }

        .hamburger {
            z-index: 101;
            width: 100%;
            transition: transform 500ms ease-in-out 50ms, background-color 500ms ease-in-out;

            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                opacity: 1;
                transition: transform 500ms ease-in-out 50ms, background-color 500ms ease-in-out 100ms;
            }

            &:before {
                top: 1em;
            }

            &:after {
                bottom: 1em;
                transition: $transition-slow 200ms;
            }
        }
    }

    &-links {
        z-index: 100;
        position: fixed;
        inset: 0 0 0 40%;
        padding: 6.6em 2.2em;
        font-weight: bold;
        color: $primary-white;

        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.8em;
        background-color: hsla(0, 0%, 5%, 0.6);
        backdrop-filter: blur(0.4rem);

        transform: translateX(100%);
        transition: transform 450ms ease-in 100ms;
        overflow-y: scroll;

        a,
        .mobile-nav-how-to {
            color: $primary-white;
            font-size: 1.95rem;
            cursor: pointer;
        }

    }

    &-how-to-links {
        @include croc-ul(white);
        margin-top: 1em;

        a {
            font-size: 1rem;
        }

        &.closed {
            display: none;
        }

        li {
            &::before {
                width: 2.2em;
                height: 1.1em;
            }
        }
    }

    &.open {
        right: calc(60% - 2.4em - 2em); // inset - hamburger-container width - nav-links padding

        a {
            .mobile-nav-cart-img-container {
                opacity: 0;
                transition: opacity 150ms ease-in-out;
            }
        }
        .hamburger {
            background-color: $primary-white;
            height: 0.25em;
            transform: rotate(-225deg);
        }

        .hamburger:before {
            background-color: $primary-white;
            height: 0.25em;
            transform: rotate(90deg) translateX(-0.975em);
        }

        .hamburger:after {
            opacity: 0;
            transition: opacity 400ms ease-in-out;
        }

        .mobile-nav-links {
            transform: translateX(0%);
            transition: transform 400ms ease-in 100ms;
        }
    }

    &.closed {
        .hamburger-container {
            transition-delay: 100ms;
        }
    }

    @media only screen and (min-width: 648px) {
        &-links {
            z-index: 100;
            position: fixed;
            inset: 0 0 0 50%;
        }

        &.open {
            right: calc(50% - 2em - 2.6em)
        }
    }
}

/* Desktop Nav */
.desktop-nav {
    display: flex;
    gap: 1em;
    align-self: flex-end;
    font-weight: bold;
    
    a { 
        position: relative;
        @include flex-col;
        @include flex-center;
        padding-bottom: 0.2em;
        color: $primary-white;
        
        .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-color: white;
            transition: width 0.3s ease;
        }

        .desktop-nav-cart-img-container {
            position: relative;
            width: 1.8em;
            height: 1.8em;
            padding: 0 0.2em 1.2em 0;

            img {
                position: absolute;
                width: 1.3em;
                height: 1.3em;
                right: 0.35em;
                bottom: 0.35em;
            }

            .cart-count {
                position: absolute;
                @include flex-center;
                height: 1.8em;
                width: 1.8em;
                font-size: 0.95rem;
                bottom: 0.95em;
                right: 0.05em;
            }

            .underline {
                bottom: -0.18em;
            }
        }

        &:hover .underline,
        &.active .underline {
            width: 100%;
        }
    }  
}

/* Main */
main {
    @include flex-col;
    padding: 8em 2em 1.6em 2em; // large top padding to account for header height
}

/* Links */
.links-container {
    display: flex;
    justify-content: space-around;
    margin: auto 0 0.8em 0;
    padding-top: 1em;

    @media only screen and (min-width: 840px) {
        justify-content: space-between;
        
        a,
        .back-btn {
            font-size: 1.1rem;
            width: 10em;
        }
    }
    
    a {
        @include arrow-button-style();
    }
}

.about-links a,
.links-container a,
.back-btn {
    @include arrow-button-style;

    &:hover,
    &:active {
        @include button-hover;
    }
}

.back-btn {
    @include button-style;
    font-size: inherit;
    font-family: inherit;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.2em 0.1em 0.2em;

    h4 {
        margin-top: 0.8em;
        margin-left: 5%;
        font-size: 1.2rem;
        
        span {
            letter-spacing: 0.05rem;
        }
    }

    img {
        width: 10%;
        min-width: 6em;
        max-width: 12em;
    }

    @media only screen and (min-width: 648px) {
        h4 {
            margin-top: 1.2em;
            font-size: 1.5rem;
        }

        img {
            min-width: 8em;
        }
    }

    @media only screen and (min-width: 768px) {
        h4 {
            font-size: 1.2rem;
        }

        img {
            min-width: 7em;
        }
    }

    @media only screen and (min-width: 1024px) {    
        img {
            width: 8em;
        }
    }

    @media only screen and (min-width: 1280px) {
        h4 {
            margin-top: 1.3em;
            font-size: 1.5rem;
        }
    }

    @media only screen and (min-width: 1536px) {
        h4 {
            margin: 1em 0 0 2em;
            font-size: 1.4rem;
        }

        img {
            min-width: 8em;
        }
    }                  
}

/***********
*** Home ***
************/
main.home-container {
    width:90%;
    max-width: 28em;
    margin: auto auto;

    .home-text {
        .subtitle {
            padding: 0.6em 0;
            text-align: center;
            color: $secondary-green;
        }
        
        .tagline {
            margin-bottom: 2em;
        }
    }
    
    .home-links {
        @include flex-col;
        gap: 1em;

        a {
            @include button-style;
            @include flex-center;        
            &:hover {
                @include button-hover;
            }
        }
    }

    @media only screen and (min-width: 1024px) {           
        max-width: 34em;

        .home-text {
            .home-links {
                gap: 1.4em;
            }
            
            .subtitle {
                font-size: 2.2rem;
                text-align: center;
            }
        }
    }

    @media only screen and (min-width: 1536px) {
        max-width: 38em;
        .home-text {
            .subtitle {
                font-size: 2.2rem;
            }
        }
    }
}

/************
*** About ***
*************/
main.about-container {
    flex-grow: 1;

    h1 {
        padding: 0 0 0.4em 0;
    }
    
    .about-text {
        font-size: 1.1rem;
        margin: auto 0;
        p {
            margin: 0.2em 2.2em 1.2em 0;
            line-height: 1.7rem;
        }
    }
    
    .about-links {
        margin: auto 0 1em 0;
        @include flex-col;
        gap: 1.1em;
        font-size: 1.1rem;
    }

    @media only screen  and (min-width: 648px) {
        .about-text {
           p {
                margin-bottom: 1em;
           }
        }
    }

    @media only screen and (min-width: 840px) {
        padding: 8em 3em 1.6em 3em;

        h1 {
            padding: 0.4em 0 0.8em 0;
            font-size: 2rem;
        }

        .about-text {
            margin: auto 0;
            p {
                margin: 0.2em 0 1.6em 0;
            }
        }

        .about-links {
            font-size: 1.2rem;
            flex-direction: row;
            justify-content: space-between;
    
            a {
                width: 12em;
                justify-content: center;
            }
        }
    }

    @media only screen and (min-width: 1536px) {
        .about-text {
            p {
                font-size: 1.2rem;
            }
        }
        
        .about-links {
            font-size: 1.3rem;

            a {
                width: 18em;
            }
        }
    }
}

/*************
**** Shop ****
*************/
main.shop-container {
    flex-grow: 1;

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    .products-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5em;
        margin: 1.2em 0 0.8em 0;
    }

    .go-to-cart-btn { 
        @include arrow-button-style;
        margin: 1em auto;
        width: 100%;
        max-width: 20em;
        min-width: 12em;
        
        &:hover {
            @include button-hover;
        }
    }

}

.shop-product-card {
    @include product-card-style(100%, 20em, 12em); 

    @media screen and (min-width: 648px) {
        width: 45%;
    }

    // Optional: for large screens (3+ cards)
    @media screen and (min-width: 1024px) {
        width: 35%;
    }

    .image-section {
        position: relative;
        display: flex;
        align-items: start;
        gap: 1em;
        height: 12em;
        width: 100%;

        .thumbnails {
            @include flex-col;
            gap: 0.4em;

            img {
                width: 2em;
                height: 2em;
                object-fit: cover;
                border-radius: 0.4em;
                opacity: 0.6;
                cursor: pointer;
                transition: opacity 200 ease-in;

                &:hover,
                &.selected {
                    opacity: 100%;
                }
            }
        }

        .main-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1em;
            display: block;
        }

        .full-screen-btn {
            position: absolute;
            bottom: 0.6em;
            right: 0.6em;

            a {
                font-size: 0.8rem;
                color: $crocodile-green;
                transition: all 300ms ease-in-out;
                padding: 0.5em 0.5em 0.2em 0.5em;
                border-radius: 100%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                    font-size: 0.9rem;
                }
            }
        }
    }

    .product-info {
        @include flex-col;
        gap: 0.4em;

        p {
            margin: 0;
        }

        .product-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 1.1rem;
            color: $crocodile-green;

            .title {
                font-weight: 500;
                line-height: 1;
            }

            .product-selectors {
                @include flex-col;
                align-items: flex-end;
                margin-right: 0.2em;
                gap: 0.4em;

                .color-selector {
                    margin-left: auto;
                    display: flex;
                    gap: 0.4em;

                    .color-btn {
                        height: 1.3em;
                        width: 1.3em;
                        border: 1px solid $primary-grey;
                        border-radius: 100%;

                        &.active {
                            border: 1px solid black;
                        }
                    }
                }

                .size-selector-wrapper {
                    .size-selector {
                        height: 2em;
                        text-align: center;
                        font-size: 0.75rem;
                        background-color: $primary-grey;
                        color: $primary-black;
                        border: 1px solid $primary-grey;
                        padding: 0.2em;
                        border-radius: 0.3rem;
                    }
                }
            }
        }

        .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: $primary-black;
        }

        .description {
            font-size: 0.9rem;
        }
    }

    .add-to-cart-btn {
        @include button-style;
        align-self: flex-start;
        margin-top: auto;
        font-weight: normal;
        letter-spacing: 0.05rem;

        &:hover {
            transform: scale(1.05);
            background-color: $secondary-green;
            box-shadow: $box-shadow-hover;
        }
    }
}

/*************
**** Cart ****
*************/
main.cart-container {
    @include flex-col;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin: auto auto;
    gap: 1.2em;

    h1 {
        padding: 0.1em 0;
    }
    .cart-product-card {
        @include product-card-style(100%, 24em, 15em);
        padding: 0.6em;
        min-height: 7.2em; // img height 6 em + top and bottom padding 0.5em 
        flex-direction: row;
        align-items: flex-start;
        gap: 1em;

        * {
            margin: 0;
            padding: 0;
        }

        img {
            height: 6em;
            width: 6em;
            border-radius: 0.6em;
        }

        &-info {
            flex-grow: 1;
            height: 6em;
            @include flex-col;
            justify-content: space-between;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 0.5em;

                h4 {
                    font-weight: 500;
                    font-size: 1rem;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }

            .cart-product-ctrls {
                margin-top: auto;
                display: flex;
                align-items: center;
                width: fit-content;
                font-size: 0.8rem;
                font-weight: 600;
                color: $crocodile-green;
                border: 2px solid $secondary-green;
                border-radius: 0.6em;
                width: 4.8em; //ctrl container x 3

                .ctrl-container {
                    @include flex-center;
                    width: 1.6em;
                    height: 1.6em;
                }

                .plus,
                .minus,
                .delete {
                    margin-top: 0.05rem;
                    font-size: 0.7rem;
                    cursor: pointer;
                }

                .delete {
                    font-size: 0.65rem;
                }
            }
        }

    }
    .subtotal {
        justify-self: flex-start;
        align-self: flex-end;
        margin: -0.5em 0.3em 0 0;
    }

    .links-container {
        margin-top: auto;
        width: 90%;

        a {
            @include arrow-button-style;
            width: 45%;
        }
    }
    
    .empty-cart {
        margin: auto 0;
    
        p {
            font-weight: bold;
            font-size: 1.25rem;
        }
    
        a {
            margin-top: 1.6em;
            font-size: 1.15rem;
            @include arrow-button-style;
            &:hover {
                @include button-hover;
            }
        }
    }
}

/***************
*** Checkout ***
***************/
main.checkout-container {
    flex-grow: 1;
    width: 100%;
    @include flex-col;
    justify-content: flex-start;
    gap: 1em;

    h1 {
        margin: 0 auto;
    }

    .checkout-status-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 0.4em;

        .shrink {
            flex-grow: 0;
        }
    
        .grow {
            flex-grow: 1;
        }

        .status-container {
            display: flex;
            gap: 0.4em;
            align-items: center;
            justify-content: space-between;


            span {
                @include flex-center;
                height: 1.5em;
                width: 1.5em;
                color: $primary-white;
                background-color: $crocodile-green;
                border-radius: 100%;
            }
            .incomplete {
                opacity: 0.5;
            }

            span.hr {
                flex-grow: 1;
                height: 0.1em;
                background-color: $crocodile-green;
                border-radius: 0;
            }

        }

        .shrink-margin {
            margin-right: 2.45em;
        }
    }
    @media only screen and (min-width: 840px) {
        .checkout-status-bar {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 0.4em;
    
            .status-container,
            .status-place-order-container {
                display: flex;
                gap: 0.4em;
                align-items: center;
                justify-content: space-between;
    
                span {
                    @include flex-center;
                    height: 1.5em;
                    width: 1.5em;
                    color: $primary-white;
                    background-color: $crocodile-green;
                    border-radius: 100%;
                }
    
                .incomplete {
                    opacity: 0.5;
                }
    
                span.hr {
                    flex-grow: 1;
                    height: 0.1em;
                    background-color: $crocodile-green;
                    border-radius: 0;
                }
    
            }
    
        }
    }
    
    form {
        padding: 0.8em 1em;
        margin: auto 0;
        border: 1px solid $secondary-green;
        border-radius: 0.8em;
        box-shadow: $box-shadow-default;

        .details-container {
            @include flex-col;
            margin-top: 0.3em;

            input {
                padding: 0.2em;
                margin: 0.2em 0 1em 0;
                font-size: 1rem;
            }
        }

        .order {
            @include flex-col;
            gap: 1em;

            * {
                margin: 0;
                padding: 0;
            }

            h2 {
                margin: 0 auto 0.2em auto;
            }

            .total {
                margin-left: auto;
                padding-right: 0.5em;
            }

            .checkout-product-card {

                display: flex;
                align-items: flex-end;
                gap: 1em;

                img {
                    height: 4em;
                    width: 4em;
                    border: none;
                    border-radius: 0.2em;
                    box-shadow: $box-shadow-default;
                }

                .product-text {
                    @include flex-col;
                    justify-content: space-between;
                    height: 4em;
                    width: 100%;

                    .product-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 100%;
                    }
                    span {
                        color: $crocodile-green;
                        font-weight: 500;
                    }
                    
                    p {
                        font-size: 0.8rem;
                    }
                    .subtotal {
                        margin-left: auto;
                    }
                }
            }
        }
        
        .checkout-ctrls,
        .order-ctrls,
        .thanks-ctrls {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            button,
            a {
                @include button-style;
                width: 40%;
            }
        }
    }

}

/*******************
***  Contact Us  ***
*******************/
main.contact-us-container {
    flex-grow: 1;
    margin: 0 auto;
    gap: 1em;
    max-width: 30em;

    h1 {
        text-align: center;
    }

    .contact-text {
        @include flex-col;
        gap: 1em;

        p {
            font-size: 1.1rem;
            line-height: 1.7rem;
            letter-spacing: 0.05rem;
        }
        
        form {
            @include flex-col;
            gap: 1em;
            border: 1px solid $light-green;
            border-radius: 0.7em;
            padding: 1em;
            box-shadow: $box-shadow-default;
            
            input,
            textarea {
                padding: 0.45em;
                width: 100%;
                font-family: inherit;
                font-size: 1.1rem;
                height: 2.2em;
                border: 1px solid $primary-grey;
                border-radius: 0.6em;
            }
            
            textarea {
                height: 6em;
            }
            
            .submit-btn {
                @include button-style;
                font-size: 1.1rem;
                letter-spacing: 0.05rem;
                
                &:hover {
                    @include button-hover;
                }
            }
        }    
    }
    
    @media only screen and (min-width: 1024px) {
        gap: 0;
        max-width: 100%;
        h1 {
            padding-top: 0.2em;
            font-size: 2.4em;
        }
        .contact-text {
            font-size: 2rem;
            flex-direction: row;
            margin-top: 2em;
            border: 1px solid red;
            margin: auto auto;

            form {
                width: 80%;
                gap: 0.6em;
            }
        }
    }
}

.thanks-modal {
    position: absolute;
    inset: 0 0 0 0;
    background-color: hsla(0, 0%, 5%, 0.6);
    backdrop-filter: blur(0.4rem);
    @include flex-center;
    z-index: 200;

    .modal {
        position: relative;
        p {
            @include flex-center;
            text-align: center;
            width: 14em;
            height: 8em;
            padding: 1em;
            font-weight: bold;
            border-radius: 1em;
            background-color: $primary-grey;
        }

        svg {
            position: absolute;
            top: 0.8em;
            right: 0.6em;
            color: $crocodile-green;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}

/****************
****  How-To ****
*****************/

.how-to-container {
    flex-grow: 1;
    padding: 8em 2.6em 1.6em 2.6em;

    .aim-setup-container,
    .setup-container,
    .gameplay-container,
    .smackdowns-container,
    .power-cards-container,
    .card-values-container,
    .calling-croc-container,
    .prohibited-container {
        flex-grow: 1;
        @include flex-col;
        gap: 0.3em;
    }

    @media only screen and (min-width: 1280px) {
        .setup-container,
        .gameplay-container,
        .calling-croc-container,
        .smackdowns-container,
        .power-cards-container {
            margin-top: 2em;
        }
    }
}

/*******************
****  AimSetup  ****
*******************/
.aim-setup-container {
    @include flex-col;
    gap: 0.3em;
}

/*******************
****  Gameplay  ****
********************/
.gameplay-container {

    ul {
        @include croc-ul(green);
    }

    ul:nth-of-type(1) li:nth-child(1),
    ul:nth-of-type(2) li:nth-child(3) {
        padding-bottom: 0.5em;
    }
    
    .link-card-values,
    .link-power-cards {
        color: $crocodile-green;
        font-weight: bold;
        cursor: pointer;
        transition: $transition-fast;
        
        &:hover {
            color: $secondary-green;
            transform: scale(1);
            font-size: 1.1rem;
        }
    }
}

/*********************
****  Smackdowns  ****
**********************/

.smackdowns-container {
    ul {
        @include croc-ul(green);
    }

    .royal-croc {
        font-weight: bold;
        color: $crocodile-green;
    }
}

/***********************************
****  Card values / Power cards ****
***********************************/

.card-values-container,
.power-cards-container {

    h4 {
        font-size: 1.05rem;
    }

    .links-container {
        a {
            width: auto;
        }
    }
}

.playing-cards, 
.power-cards {
    @include flex-col;
}

.playing-card,
.power-card {
    @include playing-card-style;
    @include playing-card-style;

    .playing-card-info,
    .power-card-info {
        h4 {
            color: $primary-black;
        }

        p {
            font-size: 0.8rem;

            span {
                display: block;
            }

            .playing-card-value {
                font-weight: bold;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .playing-cards,
    .power-cards {
        flex-direction: row;
        flex-wrap: wrap;

        .playing-card,
        .power-card {
            width: 40%;
            margin-right: auto;
        }
    }

}

/***********************
****  Calling Croc  ****
************************/
.calling-croc-container {
    h2 {
        padding-bottom: 0.6em;
    }
}

/***************************
****  Prohibited Plays  ****
****************************/
.prohibited-container {
    h4 {
        padding-top: 1em;
    }
}

/************************
****  Media Queries  ****
*************************/

