@use "../index" as *;

main {
    .about-text {        
        p {
            font-size: 1.1rem;
            line-height: 1.7;
        }
    }

    .about-links {
        @include links-container-style;
        @include flex-col;
        gap: 1.1em;

        a {
            @include button-style;
            @include arrow-button-style;
            font-size: 1.1rem;
            &:hover {
                @include button-hover;
            }
        }
    }

    @media only screen and (min-width: 648px) {

        .about-text {
            p {
                margin: 1em 0;
            }
        }

        .about-links {
            margin: auto auto;
            letter-spacing: 0.05rem;
            width: 80%;
            gap: 1.2em;

            a {
                font-size: 1.3rem;
                }
            }
    }

    @media only screen and (min-width: 840px) {

        .about-text {

            p {
                font-size: 1.4rem;
                line-height: 1.7;
            }
        }

        .about-links {
            margin: auto 0;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            a {
                width: 30%;
                font-size: 1.5rem;
            }
        }
    }

    @media only screen and (min-width: 1024px) { 
        width: 90%;

        .about-text {
            p {
                margin: 1.4em 0;
            }
        }
    }

    @media only screen and (min-width: 1536px) {
        
        .about-text {
            p {
                font-size: 1.7rem;
                line-height: 1.8;
            }
        }

        .about-links {
            a {
                font-size: 1.5rem;
                width: 30%;
            }
        }
    }
}