@use "../index" as *;

main.contact-us-container {
    gap: 1em;
    max-width: 30em;
    justify-content: center;

    h1 {
        margin-bottom: auto;
        text-align: center;
    }

    .contact-text {
        @include flex-col;
        margin: auto auto;
        gap: 1em;

        p {
            font-size: 1.1rem;
            line-height: 1.7rem;
            letter-spacing: 0.05rem;
        }

        form {
            @include flex-col;
            gap: 1em;
            border: 1px solid $light-green;
            border-radius: 0.7em;
            padding: 1em;
            box-shadow: $box-shadow-default;

            input,
            textarea {
                padding: 0.45em;
                width: 100%;
                font-family: inherit;
                font-size: 1.1rem;
                height: 2.2em;
                border: 1px solid $primary-grey;
                border-radius: 0.6em;
            }

            textarea {
                height: 6em;
            }

            .submit-btn {
                @include button-style;
                font-size: 1.1rem;
                letter-spacing: 0.05rem;

                &:hover {
                    @include button-hover;
                }
            }
        }
    }

    @media only screen and (min-width: 840px) {
        .contact-text {
            p {
                font-size: 1.3rem;
                line-height: 1.7;
            }
        }
    }
    
    @media only screen and (min-width: 1024px) {
        gap: 0;
        max-width: 100%;

        .contact-text {
            flex-direction: row;
            align-items: flex-start;
            
            p {
                width: 40%;
                font-size: 1.6rem;
                line-height: 1.8;
            }

            form {
                width: 45%;
                gap: 1em;
                margin-left: auto;
            }
        }
    }

    @media only screen and (min-width: 1536px) {
        .contact-text {
            
            p {
                font-size: 1.9rem;
                line-height: 2;
            }

            form {
                padding: 1.4em;
                gap: 1.2em;

                input,
                textarea {
                    height: 2.8em;
                    font-size: 1.4rem;
                }
                textarea {
                    height: 7em;
                }
                .submit-btn {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.thanks-modal {
    position: absolute;
    inset: 0 0 0 0;
    background-color: hsla(0, 0%, 5%, 0.6);
    backdrop-filter: blur(0.4rem);
    @include flex-center;
    z-index: 200;

    .modal {
        position: relative;

        p {
            @include flex-center;
            text-align: center;
            width: 14em;
            height: 8em;
            padding: 2em;
            font-weight: bold;
            border-radius: 1em;
            background-color: $secondary-white;
        }

        svg {
            position: absolute;
            top: 0.8em;
            right: 0.6em;
            color: $crocodile-green;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}