@use "../index" as *;

main.home-container {
    justify-content: center;
    min-width: 22em;
    width: 100%;
    max-width: 34em;

    .home-text {
        min-width: 18em;
        width: 80%;
        max-width: 28em;
        margin: 0 auto;
        .subtitle {
            text-align: center;
            color: $crocodile-green;
        }
        
        .tagline {
            margin: 2em auto;
        }
    }

    .home-links {
        @include flex-col;
        gap: 1em;

        a {
            @include button-style;
            @include flex-center;
            margin: auto auto;
            min-width: 18em;
            width: 80%;
            max-width: 28em;

            &:hover {
                @include button-hover;
            }
        }
        .back-btn {
            @include button-style;
            &:hover {
                @include button-hover;
            }
        }
    }

    @media only screen and (min-width: 648px) { 
        .home-text {
            .subtitle {
                font-size: 2.1rem;
            }
            .tagline {
                font-size: 1.1rem;
                text-align: center;
            }

        }
        
        .home-links {
            a {
                font-size: 1.1rem;
            }
        }
    }

    @media only screen and (min-width: 840px) {
        max-width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        
        .home-text {
            max-width: 70%;
            
            .subtitle {
                font-size: 2.6rem;
            }

            .tagline {
                font-size: 1.4rem;
                width: 80%;
            }
        }
        .home-links {
            gap: 1.2em;
            a {
                width: 8em;
                font-size: 1.15rem;
            }
        }
    }
    
    @media only screen and (min-width: 1024px) {      
        padding: 1em 3em 1em 1em;

        .home-text {
            
            .subtitle {
                font-size: 3rem;
            }
            
            .tagline {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    
        .home-links {
            gap: 1.4em;
            a {
                font-size: 1.2rem;
            }
        }
    }
    
    @media only screen and (min-width: 1024px) {
        padding: 1em 3em 1em 2em;
        .home-text {
            .subtitle {
                font-size: 3.3rem;
            }
            .tagline {
                width: 70%;
                line-height: 1.7;
            }
        }    
        .home-links {
            gap: 1.6em;
            a {
                font-size: 1.25rem;
            }
        }
    }

    @media only screen and (min-width: 1536px) {
        padding: 1em 5em 1em 2em;
        
        .home-text {
            .subtitle {
                font-size: 3.5rem;
            }
    
            .tagline {
                font-size: 1.9rem
            }
        }
    
        .home-links {
            gap: 2em;
    
            a {
                font-size: 1.6rem;
            }
        }

    }
}