@use "../index" as *;

main.home-container {
    padding: 8em 2em 1.6em 2em; // large top padding to account for header height
    margin: auto auto;
    flex-grow: 1;
    width: 90%;
    max-width: 28em;
    @include flex-col;
    justify-content: space-evenly;

    .home-text {
        .subtitle {
            padding: 0.6em 0;
            text-align: center;
            color: $crocodile-green;
        }

        .tagline {
            margin-bottom: 2em;
        }
    }

    .home-links {
        @include flex-col;
        gap: 1em;

        a {
            @include button-style;
            @include flex-center;

            &:hover {
                @include button-hover;
            }
        }
        .back-btn {
            @include button-style;
            &:hover {
                @include button-hover;
            }
        }
    }

    @media only screen and (min-width: 840px) {
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 10em 2em 1.6em 2em;
        
        .home-text {
            max-width: 70%;
            
            .subtitle {
                padding: 0 0 1em 0;
                font-size: 3rem;
            }

            .tagline {
                font-size: 1.4rem;
                width: 80%;
                margin: auto auto;
            }
        }
        .home-links {
            max-width: 100%;
            font-size: 1.4rem;
            gap: 1.4em;
            a {
                width: 10em;
            }
        }
    }
    
    @media only screen and (min-width: 1024px) {
        padding: 14em 2em 1.6em 2em;
        align-items: flex-start;
        
        .home-text {
            
            .subtitle {
                font-size: 3rem;
            }
            
            .tagline {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    
        .home-links {
            font-size: 1.3rem;
            gap: 1.6em;
        }
    }

    @media only screen and (min-width: 1536px) {
        padding: 14em 0em 1.6em 0em;
        width: 100%;

        .home-text {
            max-width: 70%;
            gap: 3em;
    
            .subtitle {
                padding: 0 0 1.4em 0;
                font-size: 3.3rem;
            }
    
            .tagline {
                font-size: 1.7rem;
                width: 60%;
                line-height: 1.85;
            }
        }
    
        .home-links {
            font-size: 1.5rem;
            gap: 1.5em;
    
            a {
                width: 11em;
            }
        }
    }
}