@use "../index" as *;

// How To
.how-to-container {
	flex-grow: 1;
	@include flex-col;
	padding: 8em 2em 1.6em 2em; // Large top padding to account for height of fixed header
}

.aim-setup-container,
.setup-container,
.gameplay-container,
.smackdowns-container,
.power-cards-container,
.card-values-container,
.calling-croc-container,
.prohibited-container {
	flex-grow: 1;
	@include flex-col;
	gap: 0.3em;
	.links-container {
		@include links-container-style;
	}
}

// AimSetup
.aim-setup-container {
	@include flex-col;
	gap: 0.3em;
}

// Gameplay
.gameplay-container {
	ul {
		@include croc-ul(green);
	}

	ul:nth-of-type(1) li:nth-child(1),
	ul:nth-of-type(2) li:nth-child(3) {
		padding-bottom: 0.5em;
	}

	.link-card-values,
	.link-power-cards {
		color: $crocodile-green;
		font-weight: bold;
		cursor: pointer;
		transition: $transition-fast;

		&:hover {
			color: $secondary-green;
			transform: scale(1);
			font-size: 1.1rem;
		}
	}
}

// Smackdowns
.smackdowns-container {
	ul {
		@include croc-ul(green);
	}

	.royal-croc {
		font-weight: bold;
		color: $crocodile-green;
	}
}

//  Card values / Power cards
.card-values-container,
.power-cards-container {
	h4 {
		font-size: 1.05rem;
	}

	.links-container {
		a,
        .back-btn {
			width: auto;
		}
	}
}

.playing-cards,
.power-cards {
	@include flex-col;
}

.playing-card,
.power-card {
	@include playing-card-style;
	@include playing-card-style;

	.playing-card-info,
	.power-card-info {
		h4 {
			color: $primary-black;
		}

		p {
			font-size: 0.8rem;

			span {
				display: block;
			}

			.playing-card-value {
				font-weight: bold;
			}
		}
	}
}


// Calling Croc
.calling-croc-container {
	h2 {
		padding-bottom: 0.6em;
	}
}

// Prohibited Plays
.prohibited-container {
	h4 {
		padding-top: 1em;
	}
}

 @media only screen and (min-width: 1024px) {
	.how-to-container {
		padding: 8em 4em 1.6em 4em;
		.aim-setup-container,
		.gameplay-container,
		.calling-croc-container,
		.smackdowns-container,
		.power-cards-container,
		.card-values-container,
		.prohibited-container {
			
			h2 {
				margin-top: 0.4em;
				font-size: 2rem;
			}
			
			p,
			ul li {
				font-size: 1.2rem;
			}

			h4 {
				margin-top: 0.5em;
				font-size: 1.5rem;
			}
		}
		
		.card-values-container,
		.power-cards-container {
	
			.playing-cards,
			.power-cards {
				flex-direction: row;
				flex-wrap: wrap;
	
				.playing-card,
				.power-card {
					width: 40%;
					margin-right: auto;
					
					img {
						width: 7em;
					}
				}
			}
		}

		.card-values-container {
			.playing-card-info {
				h4 {
					font-size: 1.3rem;
				}
			}
		}
	}
}

 @media only screen and (min-width: 1536px) {
    .aim-setup-container,
    .gameplay-container,
    .calling-croc-container,
    .smackdowns-container,
    .power-cards-container,
    .card-values-container,
    .prohibited-container {

        h2 {
            margin-top: 0.6em;
            font-size: 2.2rem;
        }
        
        p,
        ul li {
            font-size: 1.4rem;
        }
        
        .links-container a,
        .links-container .back-btn {
            font-size: 1.4rem;
        }

    }

	.smackdowns-container {
		h4 {
			margin-top: 0.6em;
			font-size: 1.7rem;
		}
	}
}


// @media only screen and (min-width: 1280px) {

//     .aim-setup-container,
//     .gameplay-container,
//     .calling-croc-container,
//     .smackdowns-container,
//     .power-cards-container,
//     .card-values-container,
//     .prohibited-container {
        
//     }
// }