* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FEFFFE;
    color: #161925;
    display: flex;
    justify-content: center;
}

.x {
    display: inline-block;
    /* Changed from inline to inline-block */
}

.x h1 {
    border: 1px solid blue;
    display: inline-block;
    /* Ensure the h1 doesn't take full width */
}
/***************
** Typography **
***************/

h1, 
h2, 
h4 {
    color: #0B6E4F;
}

h2 {
    padding-bottom: 0.4em;
}

h4 {
    margin: 0.2em 0
}

p {
    margin: 0.6em 0;
}

.bold {
    font-weight: bold;
}

ul.croc-ul {
    margin-bottom: 1em;
    list-style-type: none;
}

li.croc-li {
    position: relative;
    padding: 0.8em 0 0 4em;
    /* This creates space for the bullet image. Adjust as needed based on the image size */
}

li.croc-li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-30%);
    width: 2.6em;
    height: 1.2em;
    background-image: url("../assets/images/croc-head-transparent.png");
    background-size: cover;
    background-repeat: no-repeat;
}

li.nav-li::before {
    width: 2.2em;
    height: 1.1em;
    background-image: url("../assets/images/croc-head-white.png");
}

/**************
***  Layout ***
***************/

.site-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */

header {
    padding: 1em 1.5em 0 1.5em;
    display: flex;
    align-items: start;
    justify-content: start;
}

.header--logo {
    display: inline-block;
}

.header--title {
    display: inline-block;
    margin: 0.2em 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 1.4em;
    color: #0B6E4F;
    border-top: 2px solid #0B6E4F;
    border-bottom: 2px solid #0B6E4F;
    cursor: pointer;
}

.header--img {
    display: block;
    max-width: 60%;
    cursor: pointer;
}

/* Nav */

nav {
    position: absolute;
    top: 2.8em;
    right: 2.4em;
    left: auto;
    transition: right 550ms ease-out;
    transition-delay: 100ms;
}

nav.open {
    right: calc(65% - 3.2em - 2em);
    /* Screen width minus nav width (4em) and its right margin (1.6em) */
}

/***** Hamburger  *****/

.hamburger-container {
    z-index: 1001;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.6em;
    width: 3.2em;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.nav.closed .hamburger-container {
    transition-delay: 100ms;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 0.18em;
    background-color: #0B6E4F;
    border-radius: 1.5em;
}

.hamburger {
    z-index: 1001;

    width: 100%;
    transition: transform 700ms ease-in-out 50ms, background-color 1000ms ease-in-out;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: transform 700ms ease-in-out 50ms, background-color 800ms ease-in-out 100ms;
}

.hamburger:before {
    top: 1.15em;
}

.hamburger:after {
    bottom: 1.15em;
    transition: all 800ms ease-in-out 200ms;
}

.nav.open .hamburger {
    background-color: #FEFFFE;
    height: 0.25em;
    transform: rotate(-225deg);
}

.nav.open .hamburger:before {
    background-color: #FEFFFE;
    height: 0.25em;
    transform: rotate(90deg) translateX(-1em);
}

.nav.open .hamburger:after {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}

/***** Nav Links Overlay *****/

.nav--links {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 35%;
    padding: 8.4em 2.6em;
    font-weight: bold;
    color: #FEFFFE;
    
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.8em;
    background-color: hsla(0, 0%, 5%, 0.6);
    backdrop-filter: blur(0.4rem);
    
    transform: translateX(100%);
    transition: transform 450ms ease-in 100ms;
}

.nav--links a,
.nav--how-to {
    color: #FEFFFE;
    font-size: 1.95rem;
    cursor: pointer;
}

.nav.open .nav--links {
    transform: translateX(0%);
    transition: transform 400ms ease-in 100ms;
}

.how-to-links {
    margin-top: 1em;
}

.how-to-links a {
    font-size: 1rem;
}

.how-to-links.closed {
    display: none;
}


/* Main */

main {
    /* flex: 1; */
    max-height: 60vh;
    overflow-y: auto;
    width: 80%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

/* Footer */

footer {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0B6E4F;
}

footer h4 {
    padding: 3.4em 0 0 2em;
}

footer img {
    width: 40%;
}

/************
*** Links ***
*************/

a {
    text-decoration: none;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}


main a,
.btn {
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    background-color: #0B6E4F;
    color: #FEFFFE;
    font-weight: bold;
    
    border: none;
    border-radius: 0.7em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

main a:hover,
main a:active,
main a:focus,
.back-btn:hover,
.back-btn:active,
.back-btn:focus {
    transform: scale(1);
    margin-bottom: 0.3em;
    font-size: 1.1rem;
    margin-top: -0.5em;
    border-radius: 1em;
    background-color: #07543A;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

.back-btn {
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    transition: all 250ms ease-in-out;
}


/***********
*** Home ***
************/

.home-container {
    width: 80%;
}

.subtitle {
    font-size: 1.4rem;
    padding: 0.6em 0;
    width: 100%;
    text-align: center;
}

.tagline {
    margin-bottom: 2em;
}

.home-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1.4em;
}

/************
*** About ***
*************/

.about-para {
    line-height: 1.5rem;
}

.about-links {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

/************
*** Shop ***
*************/

.shop {
    margin: 0 auto 6em auto;
}

/*******************
***  Contact Us  ***
********************/

main.contact-us {
    width: 75%;
    gap: 1.3em;
}

.contact-us h1 {
    /* align-self: flex-start; */
}

.contact-us p {
    margin-top: 0;
    font-size: 1.1rem;
    line-height: 1.7rem;
    letter-spacing: 0.05em;
}

form.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input,
form textarea {
    padding: 0.5em;
    font-size: 1.1rem;
    height: 2em;
    border: 1px solid #C7D3DD;
    border-radius: 2px;
}

form textarea {
    height: 6em;
}

.submit-btn {
    margin-top: 0.8em;
    padding: 0.7em 1.4em;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    transition: all 200ms ease-in;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
    padding: 0.8em 1.4em;
    font-size: 1.15rem;
    background-color: #07543A;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

/**************
****  Aim  ****
***************/

.aim-container {
    width: 80%;
}

/****************
****  Setup  ****
*****************/

/*******************
****  Gameplay  ****
********************/

.gameplay-container ul:nth-of-type(1) li:nth-child(1){
    padding-bottom: 0.5em;
}

.gameplay-container ul:nth-of-type(2) li:nth-child(3) {
    padding-bottom: 0.5em;
}

.gameplay-container span:not(.bold) {
    color: #0B6E4F;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.gameplay-container span:hover:not(.bold) {
    color: #07543A;
    transform: scale(1);
    font-size: 1.1rem;
}
/***********************
****  Calling Croc  ****
************************/


/*********************
****  Smackdowns  ****
**********************/

/***********************************
****  Card values / Power cards ****
***********************************/

.cards h4 {
    color:#161925
}

.cards, .power-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card, .power-card {
    width: 50%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.card h4, .power-card h4 {
    text-align: center;
}

.power-card {
    width: 40%;
    justify-content: space-between;
    margin: 0 auto;
}

.card img, .power-card img {
    width: 35%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}

.card img:hover,
.power-card img:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}


.card-values-container .links-container {
    width: 100%;
    justify-content: space-evenly;
}

.power-cards-container .links-container a,
.power-cards-container .back-btn {
    font-size: 0.9rem;
}

/***************************
****  Prohibited Plays  ****
****************************/

/************************
****  Media Queries  ****
*************************/


/* Extra small devices (portrait phones, less than 576px):  */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up):  */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up):  */
@media only screen and (min-width: 768px) {
    header {
        height: 20vh;
    }

    main {
        width: 70%;
    }

    footer img {
        width: 30%;
    }

    .card,
    .power-card {
        width: calc(33.333% - 20px);
        /* For 3 cards per row */
    }
}

/* Large devices (desktops, 992px and up):  */
@media only screen and (min-width: 992px) {
    header {
        height: 30vh;
    }

    main {
        width: 60%;
    }

    footer {
        font-size: 1.4rem;
        margin-bottom: 1em;
    }

    footer img {
        width: 28%;
    }

    .card,
    .power-card {
        width: calc(25% - 20px);
        /* For 4 cards per row */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .site-container {
        width: 80%;
        margin: auto auto;
    }
    main {
        width: 50%;
    }
}

