* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #FEFFFE;
  color: #161925;
  display: flex;
  justify-content: center;
}

/***************
** Typography **
***************/
h1,
h2,
h4 {
  color: #07543A;
}

h2 {
  font-size: 1.65rem;
}

h4 {
  margin-top: 0.7em;
  font-size: 1.2rem;
}

p {
  margin: 0.5em 0;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

/**************
***  Layout ***
***************/
.site-container {
  min-height: 100dvh;
  min-width: 100dvw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
header {
  display: flex;
  justify-content: start;
  padding: 0.8em 1.5em;
}
header .header__logo {
  cursor: pointer;
}
header .header__logo img {
  max-width: 12.4em;
}
header .header__logo h1 {
  font-size: 1.8rem;
  letter-spacing: 0.25rem;
  line-height: 1.3em;
  border-top: 2px solid #07543A;
  border-bottom: 2px solid #07543A;
}

/* Mobile Nav */
.mobile__nav {
  position: absolute;
  top: 2.2em;
  right: 2.4em;
  left: auto;
  transition: right 550ms ease-out 100ms;
}
.mobile__nav .hamburger-container {
  z-index: 1001;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.6em;
  width: 3.2em;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.mobile__nav .hamburger-container .hamburger,
.mobile__nav .hamburger-container .hamburger::before,
.mobile__nav .hamburger-container .hamburger::after {
  height: 0.18em;
  background-color: #07543A;
  border-radius: 1.5em;
}
.mobile__nav .hamburger-container .hamburger {
  z-index: 1001;
  width: 100%;
  transition: transform 500ms ease-in-out 50ms, background-color 500ms ease-in-out;
}
.mobile__nav .hamburger-container .hamburger:before, .mobile__nav .hamburger-container .hamburger:after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: transform 500ms ease-in-out 50ms, background-color 500ms ease-in-out 100ms;
}
.mobile__nav .hamburger-container .hamburger:before {
  top: 1.15em;
}
.mobile__nav .hamburger-container .hamburger:after {
  bottom: 1.15em;
  transition: all 500ms ease-in-out 200ms;
}
.mobile__nav__links {
  z-index: 1000;
  position: fixed;
  inset: 0 0 0 25%;
  padding: 7.5em 2.6em;
  font-weight: bold;
  color: #FEFFFE;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.8em;
  background-color: hsla(0, 0%, 5%, 0.6);
  backdrop-filter: blur(0.4rem);
  transform: translateX(100%);
  transition: transform 450ms ease-in 100ms;
  overflow-y: scroll;
}
.mobile__nav__links a,
.mobile__nav__links .mobile__nav__how-to {
  color: #FEFFFE;
  font-size: 1.95rem;
  cursor: pointer;
}
.mobile__nav__how-to-links {
  margin-bottom: 1em;
  list-style-type: none;
  margin-top: 1em;
}
.mobile__nav__how-to-links li {
  position: relative;
  padding: 0.8em 0 0 4em;
}
.mobile__nav__how-to-links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 2.6em;
  height: 1.2em;
  background-image: url("https://cdn.jsdelivr.net/gh/maxkatilius/crocodile/src/assets/images/croc-head-white.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile__nav__how-to-links a {
  font-size: 1rem;
}
.mobile__nav__how-to-links.closed {
  display: none;
}
.mobile__nav__how-to-links li::before {
  width: 2.2em;
  height: 1.1em;
}
.mobile__nav.open {
  right: calc(75% - 3.2em - 2em);
}
.mobile__nav.open .hamburger {
  background-color: #FEFFFE;
  height: 0.25em;
  transform: rotate(-225deg);
}
.mobile__nav.open .hamburger:before {
  background-color: #FEFFFE;
  height: 0.25em;
  transform: rotate(90deg) translateX(-1.1em);
}
.mobile__nav.open .hamburger:after {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.mobile__nav.open .mobile__nav__links {
  transform: translateX(0%);
  transition: transform 400ms ease-in 100ms;
}
.mobile__nav.closed .hamburger-container {
  transition-delay: 100ms;
}

/* Desktop Nav */
.desktop__nav {
  display: flex;
  gap: 1em;
}
.desktop__nav a {
  position: relative;
  padding-bottom: 0.24em;
}
.desktop__nav a span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}
.desktop__nav a:hover span, .desktop__nav a.active span {
  width: 100%;
}

/* Main */
main {
  margin: auto auto;
  padding: 0.4em 2em;
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.2em 0.1em 0.2em;
}
footer h4 {
  margin-top: 2em;
  margin-left: 5%;
  font-size: 1.2rem;
}
footer h4 span {
  letter-spacing: 0.05rem;
}
footer img {
  width: 10%;
  min-width: 8em;
  max-width: 12em;
}

/************
*** Links ***
*************/
.links-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1.2em 0;
}

.about-links a,
.links-container a,
.back-btn {
  padding: 0.8em 1.2em;
  background-color: #07543A;
  font-weight: bold;
  color: #FEFFFE;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.about-links a .arrow,
.links-container a .arrow,
.back-btn .arrow {
  width: 0;
  height: 0;
  display: inline-block;
}
.about-links a .arrow.right,
.links-container a .arrow.right,
.back-btn .arrow.right {
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.6em solid #FEFFFE;
}
.about-links a .arrow.left,
.links-container a .arrow.left,
.back-btn .arrow.left {
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-right: 0.6em solid #FEFFFE;
}
.about-links a:hover, .about-links a:active,
.links-container a:hover,
.links-container a:active,
.back-btn:hover,
.back-btn:active {
  transform: scale(1.1);
  background-color: #0B6E4F;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

.back-btn {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  transition: all 250ms ease-in-out;
}

/***********
*** Home ***
************/
main.home-container {
  width: 90%;
  max-width: 28em;
}
main.home-container .subtitle {
  padding: 0.6em 0;
  font-size: 1.6rem;
  text-align: center;
  color: #0B6E4F;
}
main.home-container .tagline {
  margin-bottom: 2em;
}
main.home-container .home__links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main.home-container .home__links a {
  padding: 0.8em 1.2em;
  background-color: #07543A;
  font-weight: bold;
  color: #FEFFFE;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em 1.4em;
}
main.home-container .home__links a:hover {
  transform: scale(1.1);
  background-color: #0B6E4F;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

/************
*** About ***
*************/
.about-container {
  padding-right: 4em;
}
.about-container h2 {
  padding: 0.6em 0 0.2em 0;
}
.about-container p {
  line-height: 1.5rem;
}
.about-container .about-links {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.1em;
}

/*************
**** Shop ****
*************/
.shop-container h2 {
  margin: 0 auto;
}
.shop-container .products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  margin: 0.6em 0 1em 0;
}
.shop-container .products-container .product__card {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  padding: 1em;
  border: 1px solid #d3d3d3;
  border-radius: 0.6em;
  background-color: rgba(247, 247, 247, 0.9333333333);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
}
.shop-container .products-container .product__card .image-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
  height: 16em;
  overflow: hidden;
}
.shop-container .products-container .product__card .image-section .thumbnails {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.shop-container .products-container .product__card .image-section .thumbnails img {
  width: 2em;
  height: 2em;
  object-fit: cover;
  border-radius: 0.4em;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 200 ease-in;
}
.shop-container .products-container .product__card .image-section .thumbnails img:hover, .shop-container .products-container .product__card .image-section .thumbnails img.selected {
  opacity: 100%;
}
.shop-container .products-container .product__card .image-section .main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
  display: block;
}
.shop-container .products-container .product__card .image-section .full-screen-btn {
  position: absolute;
  bottom: 0.6em;
  right: 0.6em;
}
.shop-container .products-container .product__card .image-section .full-screen-btn a {
  font-size: 0.8rem;
  color: #07543A;
  transition: all 300ms ease-in-out;
  padding: 0.5em 0.5em 0.2em 0.5em;
  border-radius: 100%;
}
.shop-container .products-container .product__card .image-section .full-screen-btn a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}
.shop-container .products-container .product__card .color-selector {
  align-self: flex-end;
  display: flex;
  gap: 0.3em;
  margin-right: 0.4em;
}
.shop-container .products-container .product__card .color-selector .color-btn {
  height: 1.2em;
  width: 1.2em;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
}
.shop-container .products-container .product__card .color-selector .color-btn.active {
  border: 1px solid black;
}
.shop-container .products-container .product__card .product__info {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.shop-container .products-container .product__card .product__info p {
  margin: 0;
}
.shop-container .products-container .product__card .product__info .title {
  font-size: 1.1rem;
  color: #07543A;
}
.shop-container .products-container .product__card .product__info .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #161925;
}
.shop-container .products-container .product__card .product__info .description {
  font-size: 0.9rem;
}
.shop-container .products-container .product__card .add-to-cart-btn {
  padding: 0.8em 1.2em;
  background-color: #07543A;
  font-weight: bold;
  color: #FEFFFE;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  align-self: flex-start;
  margin-top: 0.2em;
  font-weight: normal;
  letter-spacing: 0.05rem;
}
.shop-container .products-container .product__card .add-to-cart-btn:hover {
  transform: scale(1.05);
  background-color: #0B6E4F;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

/*******************
***  Contact Us  ***
********************/
main.contact-us {
  gap: 1.2em;
  width: 90%;
}
main.contact-us h1 {
  text-align: center;
}
main.contact-us p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
}
main.contact-us form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main.contact-us form .form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main.contact-us form .form-inputs input,
main.contact-us form .form-inputs textarea {
  padding: 0.5em;
  width: 100%;
  font-family: inherit;
  font-size: 1.1rem;
  height: 2em;
  border: 1px solid #C7D3DD;
  border-radius: 2px;
}
main.contact-us form .form-inputs textarea {
  height: 6em;
}
main.contact-us form .submit-btn {
  padding: 0.8em 1.2em;
  background-color: #07543A;
  font-weight: bold;
  color: #FEFFFE;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  padding: 0.8em 0;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}
main.contact-us form .submit-btn:hover {
  transform: scale(1.1);
  background-color: #0B6E4F;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

/**************
****  Aim  ****
***************/
.aim-container {
  width: 90%;
}
.aim-container .links-container {
  width: 100%;
  gap: 2em;
}

/****************
****  Setup  ****
*****************/
/*******************
****  Gameplay  ****
********************/
.gameplay-container ul {
  margin-bottom: 1em;
  list-style-type: none;
}
.gameplay-container ul li {
  position: relative;
  padding: 0.8em 0 0 4em;
}
.gameplay-container ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 2.6em;
  height: 1.2em;
  background-image: url("https://cdn.jsdelivr.net/gh/maxkatilius/crocodile/src/assets/images/croc-head-green.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.gameplay-container ul:nth-of-type(1) li:nth-child(1) {
  padding-bottom: 0.5em;
}
.gameplay-container ul:nth-of-type(2) li:nth-child(3) {
  padding-bottom: 0.5em;
}
.gameplay-container .link-card-values,
.gameplay-container .link-power-cards {
  color: #07543A;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.gameplay-container .link-card-values:hover,
.gameplay-container .link-power-cards:hover {
  color: #0B6E4F;
  transform: scale(1);
  font-size: 1.1rem;
}

/***********************
****  Calling Croc  ****
************************/
/*********************
****  Smackdowns  ****
**********************/
.smackdowns-container ul {
  margin-bottom: 1em;
  list-style-type: none;
}
.smackdowns-container ul li {
  position: relative;
  padding: 0.8em 0 0 4em;
}
.smackdowns-container ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 2.6em;
  height: 1.2em;
  background-image: url("https://cdn.jsdelivr.net/gh/maxkatilius/crocodile/src/assets/images/croc-head-green.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/***********************************
****  Card values / Power cards ****
***********************************/
.cards,
.power-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card h4 {
  color: #161925;
  text-align: center;
}
.card img {
  width: 35%;
  margin: 1em auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}
.card img:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

.power-card {
  width: 45%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 1em auto;
}
.power-card h4 {
  color: #161925;
  text-align: center;
}
.power-card img {
  width: 35%;
  margin: 1em auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}
.power-card img:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
}

.card-values-container .links-container {
  width: 100%;
}

.power-cards-container h4 {
  font-size: 1.05rem;
}
.power-cards-container .links-container a {
  font-size: 0.9rem;
}
.power-cards-container .back-btn {
  font-size: 0.9rem;
}

/***************************
****  Prohibited Plays  ****
****************************/
/************************
****  Media Queries  ****
*************************/
@media only screen and (min-width: 648px) {
  header {
    padding: 1em 1.8em;
  }
  header .header__logo img {
    max-width: 14.5em;
  }
  header .header__logo h1 {
    font-size: 2.2rem;
  }
  .mobile__nav {
    top: 2em;
    right: 3.4em;
  }
  .mobile__nav__links {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 50%;
  }
  .mobile__nav.open {
    right: calc(50% - 3.2em - 2.6em);
  }
  footer h4 {
    margin-top: 1.6em;
    font-size: 1.5rem;
  }
  footer img {
    min-width: 10em;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
  header {
    padding: 1em 1.5em;
    background-image: linear-gradient(#0B6E4F, #07543A);
    justify-content: space-between;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
  }
  header .header__logo img {
    max-width: 10.3em;
  }
  header .header__logo h1 {
    font-size: 1.5rem;
    color: #FEFFFE;
    border-top: 2px solid #FEFFFE;
    border-bottom: 2px solid #FEFFFE;
  }
  .desktop__nav {
    align-self: flex-end;
    font-weight: bold;
  }
  .desktop__nav a {
    color: #FEFFFE;
  }
  main {
    max-width: 65%;
  }
  footer h4 {
    margin: 1.2em 0 0 1.4em;
    font-size: 1.4rem;
  }
  footer img {
    min-width: 8em;
  }
  .home-container .subtitle {
    font-size: 1.8rem;
    text-align: center;
  }
  .card,
  .power-card {
    width: calc(33.333% - 20px);
    /* For 3 cards per row */
  }
}
@media only screen and (min-width: 840px) {
  .desktop__nav {
    font-size: 1.15rem;
    gap: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.6rem;
  }
  .desktop__nav {
    font-size: 1rem;
    gap: 1.2rem;
  }
  main {
    max-width: 70%;
  }
  .card,
  .power-card {
    width: calc(25% - 20px);
    /* For 4 cards per row */
  }
  footer img {
    width: 8em;
  }
}
@media only screen and (min-width: 1280px) {
  .nav {
    top: 1.5em;
    right: 3em;
  }
  .nav .nav__links,
  .nav .nav__how-to {
    gap: 2em;
    font-weight: lighter;
  }
  main {
    max-height: 60vh;
    font-size: 0.8rem;
    margin: auto auto;
    /* padding: 0.2em 1.4em; */
  }
  footer h4 {
    margin-top: 1.3em;
    font-size: 1.5rem;
  }
  .home-container {
    min-width: 50%;
    padding: 2em 12em;
    overflow-y: hidden;
  }
  .aim-container {
    text-align: center;
  }
  .about-container .about-links {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .about-container .about-links a {
    width: 10em;
    justify-content: center;
  }
  .setup-container,
  .gameplay-container,
  .calling-croc-container,
  .smackdowns-container,
  .power-cards-container {
    margin-top: 2em;
  }
  main.contact-us {
    gap: 1em;
  }
  main.contact-us p {
    font-size: 0.8rem;
    line-height: 1.5em;
  }
  main.contact-us form.contact-form {
    flex-direction: row;
  }
  main.contact-us form.contact-form .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30em;
  }
  main.contact-us form.contact-form .form-inputs input {
    font-size: 0.8rem;
  }
  main.contact-us form.contact-form .form-inputs textarea {
    font-size: 0.7rem;
    height: 8em;
  }
  main.contact-us form.contact-form .submit-btn {
    margin-top: 0;
    padding: 0 2em;
    display: block;
    margin: auto 0 0 2em;
    height: 4em;
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1536px) {
  footer h4 {
    margin-top: 1.3em;
    font-size: 1.6rem;
  }
  footer img {
    min-width: 9em;
  }
}