@use "../index" as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.2em 0.1em 0.2em;

    h4 {
        margin-top: 0.8em;
        margin-left: 5%;
        font-size: 1.2rem;

        span {
            letter-spacing: 0.05rem;
        }
    }

    img {
        width: 10%;
        min-width: 6em;
        max-width: 12em;
    }

    @media only screen and (min-width: 648px) {
        h4 {
            margin-top: 1.2em;
            font-size: 1.5rem;
        }

        img {
            min-width: 8em;
        }
    }

    @media only screen and (min-width: 768px) {
        h4 {
            font-size: 1.2rem;
        }

        img {
            min-width: 7em;
        }
    }

    @media only screen and (min-width: 1024px) {
        img {
            width: 8em;
        }
    }

    @media only screen and (min-width: 1280px) {
        h4 {
            margin-top: 1.3em;
            font-size: 1.5rem;
        }
    }

    @media only screen and (min-width: 1536px) {
        h4 {
            margin: 1em 0 0 2em;
            font-size: 1.5rem;
        }

        img {
            min-width: 8.4em;
        }
    }
}