@use "../index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $primary-white;
    color: $primary-black;
    display: flex;
    justify-content: center;
}

.site-container {
    min-height: 100dvh;
    min-width: 100dvw;
    @include flex-col;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    @include flex-col;
    margin: 6.4em auto 0 auto; // 6.4em = fixed header height
    padding: 2em;
    height: calc(100% - 6.4em); // occupy available height - header height

    @media only screen and (min-width: 648px) {
        padding: 2em 4em;
    }

    @media only screen and (min-width: 1024px) {
        margin: 7em auto 0 auto;
        height: calc(100% - 7em);
    }

    @media only screen and (min-width: 1536px) {
        padding: 2em 6em;
        margin: 7.8em auto auto auto;
        height: calc(100% - 7.8em);
    }

    
}

/***************
** Typography **
***************/
h1,
h2,
h4 {
    color: $crocodile-green;
}

h2 {
    font-size: 1.65rem;
}

h4 {
    font-size: 1.2rem;
}

p,
ul li {
    line-height: 1.4;
}

p {
    margin: 0.3em 0;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 648px) {
    h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 840px) {
    h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 2.6rem;
    }
}

@media only screen and (min-width: 1536px) {
    h1 {
        font-size: 3rem;
    }
}