$font-stack: 'Quicksand', sans-serif;
$primary-green: #07543A;
$secondary-green: #0B6E4F;
$primary-black: #161925;
$secondary-black: #050505;
$primary-white: #FEFFFE;
$secondary-white: #f7f7f7ee;

$box-shadow-default: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(255, 255, 255, 0.3);
$box-shadow-hover: 3px 3px 10px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);

$transition-fast: all 250ms ease-in-out;
$transition-slow: all 500ms ease-in-out;

@mixin flex-col() {
    display: flex;
    flex-direction: column;
}

@mixin button-style {
    padding: 0.8em 1.2em;
    background-color: $primary-green;
    font-weight: bold;
    color: $primary-white;
    border: none;
    border-radius: 0.7em;
    cursor: pointer;
    transition: $transition-fast;
    box-shadow: $box-shadow-default;
}

@mixin link-button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    .arrow {
        width: 0;
        height: 0;
        display: inline-block;

        &.right {
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-left: 0.6em solid $primary-white;
        }

        &.left {
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-right: 0.6em solid $primary-white;
        }
    }
}

@mixin button-hover {
    transform: scale(1.1);
    background-color: $secondary-green;
    box-shadow: $box-shadow-hover;
}

@mixin link-button-hover {
    transform: scale(1);
    margin-bottom: 0.3em;
    font-size: 1.1rem;
    margin-top: -0.5em;
    border-radius: 1em;
    background-color: $secondary-green;
    box-shadow: $box-shadow-hover;
}

@mixin card-style($width: 50%) {
    width: $width;
    margin-bottom: 1em;
    @include flex-col;
    justify-content: center;
    align-items: center;

    h4 {
        color: $primary-black;
        text-align: center;
    }

    img {
        width: 35%;
        margin: 1em auto;
        box-shadow: $box-shadow-default;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }
}

@mixin croc-ul($croc-color: "green") {
    margin-bottom: 1em;
    list-style-type: none;

    li {
        position: relative;
        padding: 0.8em 0 0 4em; // This creates space for the bullet image. Adjust as needed based on the image size

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-30%);
            width: 2.6em;
            height: 1.2em;
            background-image: url("https://cdn.jsdelivr.net/gh/maxkatilius/crocodile/src/assets/images/croc-head-#{$croc-color}.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $primary-white;
    color: $primary-black;
    display: flex;
    justify-content: center;
}

/***************
** Typography **
***************/
h1, 
h2, 
h4 {
    color: $primary-green;
}

h2 {
    font-size: 1.65rem;
}

h4 {
    margin-top: 0.7em;
    font-size: 1.2rem;
}

p {
    margin: 0.5em 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

/**************
***  Layout ***
***************/
.site-container {
    min-height: 100dvh;
    min-width: 100dvw;
    position: relative;
    @include flex-col;
    justify-content: space-between;
}

/* Header */
header {
    display: flex;
    justify-content: start;
    padding: 0.8em 1.5em;
    
    .header__logo {
        cursor: pointer;

        img {
            max-width: 12.4em;
        }
    
        h1 {
            font-size: 1.8rem;
            letter-spacing: 0.25rem;
            line-height: 1.3em;
            border-top: 2px solid $primary-green;
            border-bottom: 2px solid $primary-green;
            // border: 1px solid orange;
        }
    }
}

/* Mobile Nav */
.mobile__nav {
    position: absolute;
    top: 2.2em;
    right: 2.4em;
    left: auto;
    transition: right 550ms ease-out 100ms;

    .hamburger-container {
        z-index: 1001;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.6em;
        width: 3.2em;
        cursor: pointer;
        transition: all 400ms ease-in-out;
    
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            height: 0.18em;
            background-color: $primary-green;
            border-radius: 1.5em;
        }

        .hamburger {
            z-index: 1001;
            width: 100%;
            transition: transform 500ms ease-in-out 50ms, background-color 500ms ease-in-out;

            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                opacity: 1;
                transition: transform 500ms ease-in-out 50ms, background-color 500ms ease-in-out 100ms;
            }

            &:before {
                top: 1.15em;
            }

            &:after {
                bottom: 1.15em;
                transition: $transition-slow 200ms;
            }
        }
    }

    &__links {
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 25%;
        padding: 7.5em 2.6em;
        font-weight: bold;
        color: $primary-white;

        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.8em;
        background-color: hsla(0, 0%, 5%, 0.6);
        backdrop-filter: blur(0.4rem);

        transform: translateX(100%);
        transition: transform 450ms ease-in 100ms;
        overflow-y: scroll;

        a,
        .mobile__nav__how-to {
            color: $primary-white;
            font-size: 1.95rem;
            cursor: pointer;
        }

    }

    &__how-to-links {
        @include croc-ul(white);
        margin-top: 1em;

        a {
            font-size: 1rem;
        }

        &.closed {
            display: none;
        }

        li {
            &::before {
                width: 2.2em;
                height: 1.1em;
            }
        }
    }

    &.open {
        right: calc(75% - 3.2em - 2em); // inset - hamburger-container width - nav__links padding

        .hamburger {
            background-color: $primary-white;
            height: 0.25em;
            transform: rotate(-225deg);
        }

        .hamburger:before {
            background-color: $primary-white;
            height: 0.25em;
            transform: rotate(90deg) translateX(-1.1em);
        }

        .hamburger:after {
            opacity: 0;
            transition: opacity 400ms ease-in-out;
        }

        .mobile__nav__links {
            transform: translateX(0%);
            transition: transform 400ms ease-in 100ms;
        }
    }

    &.closed {
        .hamburger-container {
            transition-delay: 100ms;
        }
    }
}

/* Desktop Nav */
.desktop__nav {
    display: flex;
    gap: 1em;

    a { 
        position: relative;
        padding-bottom: 0.24em;
        
        span {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-color: white;
            transition: width 0.3s ease;
        }

        &:hover span,
        &.active span {
            width: 100%;
        }
    }

}

/* Main */
main {
    margin: auto auto;
    padding: 0.4em 2em;
    @include flex-col;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.2em 0.1em 0.2em;

    h4 {
        margin-top: 2em;
        margin-left: 5%;
        font-size: 1.2rem;
        
        span {
            letter-spacing: 0.05rem;
        }
    }

    img {
        width: 10%;
        min-width: 8em;
        max-width: 12em;
    }
}

/************
*** Links ***
*************/
.links-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1.2em 0;
}

.about-links a,
.links-container a,
.back-btn {
    @include button-style;
    @include link-button-style;
    
    &:hover,
    &:active {
        @include button-hover;
    }
}

.back-btn {
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    transition: $transition-fast;
}

/***********
*** Home ***
************/
.home-container {
    width:90%;
    max-width: 28em;

    .subtitle {
        padding: 0.6em 0;
        font-size: 1.6rem;
        text-align: center;
        color: $secondary-green;
    }

    .tagline {
        margin-bottom: 2em;
    }
    
    .home__links {
        @include flex-col;
        gap: 1em;

        a {
            @include button-style;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.8em 1.4em;
        
            &:hover {
                @include button-hover;
            }
        }
    }
}

/************
*** About ***
*************/
.about-container {
    
    h2 {
        padding: 0.6em 0 0.2em 0;
    }
    padding-right: 4em;

    p {
        line-height: 1.5rem;
    }

    .about-links {
        margin-top: 1em;
        @include flex-col;
        gap: 1.1em;
    }
}

/*************
**** Shop ****
*************/
.shop-container {
    
    h2 {
        margin: 0 auto;
    }
    
    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        margin: 0.6em 0 1em 0;
        
        .product__card {
            @include flex-col;
            gap: 0.6em;
            padding: 1em;
            border: 1px solid #d3d3d3;
            border-radius: 0.6em;
    
            background-color: $secondary-white;
            box-shadow: $box-shadow-default;
    
            .image-section {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: start;
                gap: 1em;
                height: 16em;
                overflow: hidden;
                // border: 1px solid red;
    
                .thumbnails {
                    @include flex-col;
                    gap: 0.4em;
    
                    img {
                        width: 2em;
                        height: 2em;
                        object-fit: cover;
                        border-radius: 0.4em;
                        opacity: 0.6;
                        cursor: pointer;
                        transition: opacity 200 ease-in;
    
                        &:hover,
                        &.selected {
                            opacity: 100%;
                        }
                    }
                }
    
                .main-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1em;
                    display: block;
                }
    
                .full-screen-btn {
                    position: absolute;
                    bottom: 0.6em;
                    right: 0.6em;
    
                    a {
                        font-size: 0.8rem;
                        color: $primary-green;
                        transition: all 300ms ease-in-out;
                        padding: 0.5em 0.5em 0.2em 0.5em;
                        border-radius: 100%;
    
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.3);
                            font-size: 0.9rem;
                        }
                    }
                }
            }
    
            .color-selector {
                align-self: flex-end;
                display: flex;
                gap: 0.3em;
                margin-right: 0.4em;
    
                .color-btn {
                    height: 1.2em;
                    width: 1.2em;
                    border: 1px solid #e2e2e2;
                    border-radius: 100%;
    
                    &.active {
                        border: 1px solid black;
                    }
                }
            }
    
            .product__info {
    
                @include flex-col;
                gap: 0.4em;
    
                p {
                    margin: 0;
                }
    
                .title {
                    font-size: 1.1rem;
                    color: $primary-green;
                }
    
                .price {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $primary-black;
                }
    
                .description {
                    font-size: 0.9rem;
                }
            }
    
            .add-to-cart-btn {
                @include button-style;
                align-self: flex-start;
                margin-top: 0.2em;
                font-weight: normal;
                letter-spacing: 0.05rem;
    
                &:hover {
                    transform: scale(1.05);
                    background-color: $secondary-green;
                    box-shadow: $box-shadow-hover;
                }
    
            }
        }
    }
}

/*******************
***  Contact Us  ***
********************/
main.contact-us {
    gap: 1.2em;
    width: 90%;

    h1 {
        text-align: center;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.7rem;
        letter-spacing: 0.05rem;
    }
    
    form {
        @include flex-col;
        gap: 1em;
        
        .form-inputs {
            @include flex-col;
            gap: 1em;

            input,
            textarea {
                padding: 0.5em;
                width: 100%;
                font-family: inherit;
                font-size: 1.1rem;
                height: 2em;
                border: 1px solid #C7D3DD;
                border-radius: 2px;
            }
            
            textarea {
                height: 6em;
            }
        }
    
        .submit-btn {
            @include button-style;
            padding: 0.8em 0;
            font-size: 1.1rem;
            letter-spacing: 0.05rem;

            &:hover {
                @include button-hover;
            }

        }
    }
}
    
/**************
****  Aim  ****
***************/
.aim-container {
    width: 90%;

    .links-container {
        width: 100%;
        gap: 2em;
    }
}

/****************
****  Setup  ****
*****************/

/*******************
****  Gameplay  ****
********************/

.gameplay-container {

    ul {
        @include croc-ul(green);
    }

    ul:nth-of-type(1) li:nth-child(1){
        padding-bottom: 0.5em;
    }
    
    ul:nth-of-type(2) li:nth-child(3) {
        padding-bottom: 0.5em;
    }
    
    .link-card-values,
    .link-power-cards {
        color: $primary-green;
        font-weight: bold;
        cursor: pointer;
        transition: $transition-fast;
        
        &:hover {
            color: $secondary-green;
            transform: scale(1);
            font-size: 1.1rem;
        }
    }
}

/***********************
****  Calling Croc  ****
************************/

/*********************
****  Smackdowns  ****
**********************/

.smackdowns-container {
    ul {
        @include croc-ul(green);
    }
}

/***********************************
****  Card values / Power cards ****
***********************************/

.cards, 
.power-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    @include card-style(50%)
}

.power-card {
    @include card-style(45%);
    justify-content: space-between;
    margin: 1em auto;
}

.card-values-container {

    .links-container {
        width: 100%;
    }
}

.power-cards-container {

    h4 {
        font-size: 1.05rem;
    }
    
    .links-container {
        a {
            font-size: 0.9rem;
        }
    }
    
    .back-btn {
        font-size: 0.9rem;
    }
}    

/***************************
****  Prohibited Plays  ****
****************************/

/************************
****  Media Queries  ****
*************************/

@media only screen and (min-width: 648px) {

    .mobile__nav {

        top: 2em;
        right: 3.4em;

        &__links {
            z-index: 1000;
            position: fixed;
            inset: 0 0 0 50%;
        }

        &.open {
            right: calc(50% - 3.2em - 2.6em)
        }
    }

    footer {
        h4 {
            margin-top: 1.6em;
            font-size: 1.5rem;
        }

        img {
            min-width: 10em;
        }
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }

    header {
        padding: 1em 1.5em;
        background-image: linear-gradient($secondary-green, $primary-green);
        justify-content: space-between;
        box-shadow: $box-shadow-default;

        .header__logo {
            img {
                max-width: 10.3em;
            }

            h1 {
                font-size: 1.5rem;
                color: $primary-white;
                border-top: 2px solid $primary-white;
                border-bottom: 2px solid $primary-white;
            }
        }
    }

    .desktop__nav {
        align-self: flex-end;
        font-weight: bold;
        
        a {
            color: $primary-white;
        }
    }
    
    main {
        max-width: 65%;
    }

    footer {
        h4 {
            margin: 1.2em 0 0 1.4em;
            font-size: 1.4rem;
        }

        img {
            min-width: 8em;
        }
    }

    .home-container {

        .subtitle {
            font-size: 1.8rem;
            text-align: center;
        }
    }

    .card,
    .power-card {
        width: calc(33.333% - 20px);
        /* For 3 cards per row */
    }
}

@media only screen and (min-width: 840px) {
    .desktop__nav {
        font-size: 1.15rem;
        gap: 1.3em; 
    }
}

@media only screen and (min-width: 1024px) {

    .home-container {
        max-width: 34em;

        .subtitle {
            font-size: 2rem;
        }
    }

    .desktop__nav {
        font-size: 1rem;
        gap: 1.2rem;
    }

    main {
        max-width: 70%;
    }

    .card,
    .power-card {
        width: calc(25% - 20px);
        /* For 4 cards per row */
    }

    footer {
        img {
            width: 8em;
        }
    }
}

@media only screen and (min-width: 1280px) {
    
    footer {
        h4 {
            margin-top: 1.3em;
            font-size: 1.5rem;
        }
    }

    .aim-container {
        text-align: center;
    }

    .about-container {
   
        .about-links {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            
            a {
                width: 10em;
                justify-content: center;
            }
        }
    }

    .setup-container,
    .gameplay-container,
    .calling-croc-container,
    .smackdowns-container,
    .power-cards-container {
        margin-top: 2em;
    }

    main.contact-us {
        gap: 1em;
  
        p {
            font-size: 0.8rem;
            line-height: 1.5em;
        }
        
        form.contact-form {
            flex-direction: row;
            
            .form-inputs {
                @include flex-col;
                gap: 1em;
                width: 30em;

                input {
                    font-size: 0.8rem;
                }

                textarea {
                    font-size: 0.7rem;
                    height: 8em;
                }
            }

            .submit-btn {
                margin-top: 0;
                padding: 0 2em;
                display: block;
                margin: auto 0 0 2em;
                height: 4em;
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and (min-width: 1536px) {

    header {
        padding: 1.3em 2em;
    }

    footer {
        h4 {
            margin: 1em 0 0 2em;
            font-size: 1.6rem;
        }

        img {
            min-width: 9em;
        }
    }
}